.gray-container{
    width: 100%;
    padding: 2em 0px;
    background-color: #f0f0f0;

    text-transform: capitalize;
}

.price-list-container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
    gap: 1.5em;
}

.items-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: 2em;
}

.items-container.heading{
    text-transform: capitalize;
    font-size: 1.2em;
    color: gray;
}

.items-container.item{
    height: 4em;
}

.platform-column{
    width: 40%;
    display: flex;
    align-items: center;
}

.platform-name{
    font-weight: 600;
}

.platform-icon{
    font-size: 3em;
    display: flex;
    align-items: center;
}

.platform-name{
    margin-left: 1em;
    font-size: 1.3em;
}

.service-column{
    width: 15%;
}

.amount-column{
    width: 15%;
}

.cost-column{
    width: 15%;
}

.buy-btn-column{
    width: 15%;
}

.service-dropdown, .amount-dropdown{
    border: none;
    background-color: var(--secondary-color);
    color: black;
    padding: 15px;
    padding-left: 5px;
    border-radius: 5px;

    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.1em;
}

.service-dropdown{
    width: 80%;
}

.amount-dropdown{
    width: 70%;
}

.service-option, .amount-option{
    background-color: white;
    cursor: pointer;
    height: 30px;
}

.cost-column.cost{
    font-size: 1.3em;
    font-weight: 600;
}

.buy-btn{
    padding: 10px 50px;
    text-transform: capitalize;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 1.1em;

    cursor: pointer;
}

.buy-btn:hover{
    background-color: var(--secondary-color);
    color: white;
}
